<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-0">
	<div class="row">

		<div class="col-xs-12 col-md-12">
			<form role="form" enctype="multipart/form-data">
				<div class="form-group">
					<label>动漫名</label> <input type="text" class="form-control"
						name="name" placeholder="动漫名" ng-model="cartoon.name">
				</div>
				<div class="form-group">
					<label>英文名</label> <input type="text" class="form-control"
						name="englishName" placeholder="英文名"
						ng-model="cartoon.englishName">
				</div>
				<label>主题图片</label>
				<div class="input-group">
					<input type="file" class="form-control" id="uploadfile"
						name="uploadfile"> <span class="input-group-btn">
						<button class="btn btn-default" type="button"
							ng-click="updateThemeImage()">上传图片</button>
					</span>
				</div>

				<div id="type" class="form-group">
					<br> <label>类型:</label><br> <span
						ng-repeat="type in typeList" on-finish-render-filters><input
						type="checkbox" name="type" value="{{type.id}}"
						ng-checked="{{type.ischecked == true}}"> <lable>&nbsp&nbsp{{type.typeName}}&nbsp&nbsp</lable></span>
				</div>

				<div class="form-group">
					<label>关键字</label> <input type="text" class="form-control"
						name="key" placeholder="多个用,隔开" ng-model="cartoon.keyword">
				</div>
				<div class="form-group">
					<lable>编导：</lable>
					<input type="text" class="form-control" name="director"
						placeholder="多个用,隔开" ng-model="director">
				</div>
				<div class="form-group">
					<lable>作者：</lable>
					<input type="text" class="form-control" name="author" ng-model="cartoon.author"
						placeholder="多个用,隔开">
				</div>
				<div class="form-group">
					<lable>声优：</lable>
					<input type="text" class="form-control" name="akira"
						ng-model="akira" placeholder="多个用,隔开">
				</div>

				<div class="form-group">
					<lable>角色：</lable>
					<input type="text" class="form-control" name="role" ng-model="role"
						placeholder="多个用,隔开">
				</div>

				<div class="form-group">
					<lable>简要介绍：</lable>
					<textarea class="form-control" id="shortIntro"
						ng-model="cartoon.shortIntro" name="shortIntro" placeholder=""></textarea>
				</div>

				<div class="row">
					<div class="div-padding-left-right col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<lable>评分：</lable>
								<div class="input-group">
									<input type="text" ng-model="cartoon.score"
										class="form-control" name="score"> <span
										class="input-group-btn">
										<button class="btn btn-success" type="button"
											ng-click="updateScore()">更新</button>
									</span>
								</div>

								<lable>喜爱：</lable>
								<div class="input-group">
									<input type="text" class="form-control" name="loveCount"
										ng-model="cartoon.loveCount"> <span
										class="input-group-btn">
										<button class="btn btn-success" type="button"
											ng-click="updateLove()">更新</button>
									</span>
								</div>


								<lable>评论数：</lable>
								<input type="text" class="form-control" name="commentCount"
									ng-model="cartoon.commentCount">

								<lable>更新情况：</lable>
								<select class="form-control" name="isEnd" id="isEnd">
									<option value="0">连载中</option>
									<option value="1">完结</option>
								</select>

							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<lable>国家：</lable>
								<input type="text" class="form-control" name="country"
									ng-model="cartoon.country">

								<lable>语言：</lable>
								<input type="text" class="form-control" name="language"
									ng-model="cartoon.language">

								<lable>年代：</lable>
								<input type="text" class="form-control" name="years"
									ng-model="cartoon.years">
							</div>

						</div>
					</div>
				</div>

				<div class="form-group"></div>

				<div id="introduction" ng-model="cartoon.introduction" style="width:500px;height:600px"
					contenteditable></div>
				<br>
				<div class="form-group">
					<div>
						<button type="button" class="btn btn-success" ng-click="update(0)">编辑草稿</button>
						<button type="button" class="btn btn-success" ng-click="update(1)">保存发布</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	
</script>