<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-0">
	<div class="row">

		<div class="col-xs-12 col-md-12" style="height: 20px;"></div>

		<div class="col-xs-12 col-md-12 table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>推荐动漫名</th>
						<th>推荐理由</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in list | filter:query">
						<td>{{item.cartoonName}}</td>
						<td>{{item.reason}}</td>
						<td>{{item.status == '0' ? '正常' : '垃圾'}}</td>
						<td>
							<div class="btn-group btn-group-sm">
								<button type="button" class="btn btn-default"
									ng-click="check(item,0)">审核通过</button>
									<button type="button" class="btn btn-default"
									ng-click="check(item,2)">审核不通过</button>
								<button type="button" class="btn btn-default"
									ng-click="deleteRow(item)">删除</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="col-xs-12 col-md-12">
			<nav style="text-align: center">
					<ul class="pagination pagination-lg">
						<li><a href="javascript:void(0)" ng-click="prep()">&laquo;</a></li>
						<li ng-repeat="page in pageList"><a href="javascript:void(0)" ng-click="currentPage(page)">{{page}}</a></li>
						<li><a href="javascript:void(0)" ng-click="last()">&raquo;</a></li>
					</ul>
			</nav>
		</div>
	</div>
</div>