
<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-0">
	<div class="row">

		<div class="col-xs-12 col-md-12">
			<form role="form">
				<div class="form-group">
				<div class="col-xs-10 col-md-10"><input type="text" class="form-control" name="typeName"
						placeholder="类型"></div>
				<div class="col-xs-2 col-md-2"><button type="button" class="btn btn-success" ng-click="addType()">增加</button></div>
					
					
				</div>

			</form>
		</div>
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>类型名</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in typelist | filter:query">
						<td>{{item.id}}</td>
						<td>{{item.typeName}}</td>
						<td><button type="button" class="btn btn-success"
								ng-click="deleteType(item)">删除</button></td>
					</tr>
				</tbody>



			</table>

		</div>
	</div>
</div>
<script>

</script>