<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaochenxi.bleach.dao.ICartoonRoleDao">
	
	<!-- 自定义返回结果集 -->
	<resultMap id="CartoonRoleMap" type="com.zhaochenxi.bleach.model.CartoonRole" />

	<insert id="save" parameterType="CartoonRole">
		INSERT INTO cartoonRole (cartoonId,roleName)  VALUES (#{cartoonId}, #{roleName});		
	</insert>
	
	<delete id="delete" parameterType="java.lang.String">
		<![CDATA[delete from cartoonRole where  cartoonId=#{cartoonId}]]>	
	</delete>
	
	<insert id="saveBatch" parameterType="java.util.List">
		 INSERT INTO cartoonRole (cartoonId, roleName)  VALUES 
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.cartoonId}, #{item.roleName})
		</foreach>
				
	</insert>
	

</mapper>    