<div id="main-context" class="main container-fluid"
	style="min-height: 700px;">

	<div class="row" style="margin-top: 10px">
		<div
			class="col-xs-12 col-sm-12 col-md-3 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
			<div class="panel panel-default" style="margin-bottom: 5px">
				<div class="panel-body">
					<div class="row">

						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="div-padding-left col-xs-12 col-sm-12 col-md-3">
								<img src="{{headImage}}"
									class="head-img img-responsive"></img>
							</div>
							<div class="div-padding-left col-xs-12 col-sm-12 col-md-9">
								<p>{{email}}</p>
								<p>{{userName}}</p>
							</div>


						</div>


					</div>

				</div>

			</div>
			<a href="#/setinfo" class="list-group-item">个人信息设置</a> <a
				href="#/mycomment" class="list-group-item">我的热评</a>

			<!-- <div class="list-group">
				<a href="javascript:void(0)" class="list-group-item active">个人菜单</a> 
				<a href="#/mycomment" class="list-group-item">我的热评</a>
				<a href="#/myrecommend" class="list-group-item">我的推荐</a>
				<a href="#/setpass" class="list-group-item">修改密码</a>
			</div> -->
		</div>
		<div class="col-xs-12 col-sm-12 col-md-7">
			<div class="col-xs-12 col-sm-12 col-md-12">

				<div class="panel panel-default">
					<div class="panel-heading">修改资料</div>
					<div class="panel-body">
						<form role="form">
							<div class="input-group">
								<input type="text" class="form-control" name="name"> <span
									class="input-group-btn">
									<button class="btn btn-default" type="button"
										ng-click="setName()">更新名字</button>
								</span>

							</div>
							<br>
							<div class="input-group">
								<input type="file" id="uploadfile" class="form-control"> <span
									class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="setHead()">更新头像</button>
								</span>

							</div>
						</form>

						<div class="div-padding-left col-xs-12 col-sm-12 col-md-12">
							<div class="div-padding-left col-xs-2 col-sm-2 col-md-2">
								<img src="{{headImage}}"
									class="img-circle img-responsive" />
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">修改密码</div>
					<div class="panel-body">
						<form role="form" name="passForm" novalidate>
							<div class="form-group">
								<input type="password" name="password"
									class="form-control" placeholder="新密码">
								<span style="color: red" ng-show="passwordNull==true">请填写密码。</span>
									
							</div>

							<div class="form-group">
								<input type="password" name="repassword"
									class="form-control" placeholder="重复密码"> 
									<span style="color: red" ng-show="isRep==false">
									两次密码必须相同
									</span>
							</div>

							<div class="form-group">
								<button type="button" class="btn btn-success"
									ng-click="setPass()">更改密码</button>
							</div>

						</form>
					</div>
				</div>


			</div>
		</div>


	</div>



</div>


<script type="text/javascript">
	
</script>
</body>
</html>