<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=0.8, maximum-scale=1">
<title>外星猫动漫</title>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../resourse/css/sign.css" />
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body ng-app="signApp" ng-controller="signCtrl" class="sign-up">
	<div id="main-context" class="main container-fluid">
	<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<a href="main.html#/" class="title">E</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
				<a href="register.html" class="btn btn-success register">注册</a>
			</div>
		</div>
		<div class="row" style="margin-top: 100px">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<h4>本网站提供网站广告合作，如果有广告需求的朋友可以在网站的联系我们中给我们留言，留下您的联系方式，我们会在1-3个工作日联系您，期待与您的合作！</h4>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-xs-12 col-sm-12 col-md-12"><h5 style="text-align: center" class="span-footer">@ETkitty.com</h5>
				
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 span-footer">
				<span class="span-footer">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a
					href="work.html">合作</a>&nbsp&nbsp&nbsp&nbsp<a
					href="about.html">关于我们</a>&nbsp&nbsp&nbsp&nbsp<a
					href="contact.html">联系我们</a>&nbsp&nbsp&nbsp&nbsp黔ICP备14005169号-2
				</span>
			</div>
		</div>
	</div>
</body>
<script src="../resourse/js/angular.min.js"></script>
<script src="../resourse/js/angular-route.js"></script>
<script src="../resourse/js/jQuery.md5.js"></script>
<script src="../resourse/js/viewjs/sign.js"></script>
</html>
